<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw3NbEzXt8FrJzTmSPJvFZzIUs0N-oeC8</string>
	<key>GCM_SENDER_ID</key>
	<string>828226318282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productoIntegrador.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>auth-producto-integrador</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-producto-integrador.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828226318282:ios:b2a2f618bb40128290a933</string>
</dict>
</plist>